{{ define "main" }}
{{- $taxonomies := .Data.Plural -}}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">
                <h2 class="title is-4 has-text-weight-normal"> {{ $taxonomies | upper }} </h2>
                <!-- Tags -->
                {{ if eq $taxonomies "tags" }}
                    <section>
                        <div class="tags">
                            {{ range $.Site.Taxonomies.tags.ByCount }}
                                {{ $count := .Count }}
                                <a href="{{ path.Join $taxonomies .Term | urlize | absLangURL }}" title="{{ .Term }}">
                                    {{ .Term }}
                                <sup>{{ $count }}</sup>
                                </a>
                            {{ end }}
                        </div>
                    </section>
                {{ end }}
                <!-- Categories -->
                {{ if eq $taxonomies "categories" }}
                    <div class="categories">
                    {{ range .Data.Terms.ByCount }}
                        <h3><i class="far fa-folder-open" aria-hidden="true"></i>
                            <a href="{{ path.Join $taxonomies .Term | urlize | absLangURL }}" target="_blank">{{ .Term }}</a>
                            ({{ .Count }})
                        </h3>
                        <ul class="listing">
                            {{ range first 5 .Pages }}
                            <li>
                                <span class="date">{{ .Date.Format "2006/01/02" }}</span>
                                <a href="{{ .Permalink }}" title="{{ .Title }}" target="_blank">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ if gt (len .Pages) 2 }}
                        <span class="more-post">
                            <a href="{{ path.Join $taxonomies .Term | urlize | absLangURL }}" > 觀看更多 >></a>
                        </span>
                        {{ end }}
                    {{ end }}
                    </div>
                {{ end }}

                <!-- Friends Blog -->
                {{ if .Site.Params.friends }}
                <section>
                    <hr>
                    <h5>FRIENDS</h5>
                    <ul class="list-inline">
                        {{ range .Site.Params.friend_link }}
                        <li><a target="_blank" href="{{.href}}">{{.title}}</a></li>
                        {{ end }}
                    </ul>
                </section>
                {{ end }}
            </div>
        </div>
        <hr/>
    </div>
</article>

{{ end }}


